.categories{
    height: 80vh;
    width: 100%;
    position: relative;
    z-index: 0;
}
.categories__container{
    width: 100%;
    height: 100%;
    color: $elements-color;
}
.category-items-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
}
.category-item{
    width: 164px;
    height: 155px;
    //background-image: url('../assets/img/100.jpg');
    background-size: 155px 164px;

}

//////////////////////////////////////

