.categories{
    height: 80vh;
    width: 100%;
    // position: relative;
    // z-index: 0;
    overflow-y: scroll;


}
.categories__container{
    padding: 0 1rem;
    width: 100%;
    height: 100%;
    color: $elements-color;
   
}
.category-items-container{
    padding: 1em 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2%;
    //gap: 3%;
}
.category-item{
    height: 11rem;
    max-width: 9rem;
    width: 100%;

}



.item-title{
    display: flex;
    justify-content: space-between;
}
.category-item-bg{
    //max-width: 43vw;
    
    max-width: 9rem;
    width: 100%;
    max-height: 9rem;
    height: 100%;
    //background-image: url('../assets/img/100.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;

}

//////////////////////////////////////

.modal.user-query{
    .modal-content.query{
        margin-top: 40vh;
        .nav-buttons{
            display: flex;
            justify-content: center;
            gap: 3%;
            .button{
                color: black;
                width: 30vw;
            }
            .button.play-again{
                background-color: $elements-color;
                border-color: black;
            }
            .button.show-results{
                background-color: $main-color;
                
            }
        }
    }
}