@import '../assets/fonts/stylesheet.css';

.page-title{
    font-size: 24px;
    font-weight: 500;
}

.sub-title{
    font-size: 16px;
    line-height: 22.6px;
    font-weight: 500;
}

.nav-title{
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
}
@media (max-width: 768px) and(min-width:520px) {
    .page-title{
        font-size: 34px;
        font-weight: 500;
    }
    
    .sub-title{
        font-size: 24px;
        line-height: 28px;
        font-weight: 500;
    }
    
    .nav-title{
        font-size: 18px;
        line-height: 18px;
        font-weight: 500;
    }
}

@media (min-width: 768px){
    .page-title{
        font-size: 34px;
        font-weight: 500;
    }
    
    .sub-title{
        font-size: 24px;
        line-height: 28px;
        font-weight: 500;
    }
    
    .nav-title{
        font-size: 18px;
        line-height: 18px;
        font-weight: 500;
    }

}

$main-color : #FFBCA2;
$background-color: black;
$elements-color: white;
$correct-answer: #3DDA69;
$wrong-answer:#FF7E7E;



