*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: $background-color;
    font-family: Gilroy;
}
main{
    width: 100vw;
    height: 80vh;
}
button{
    border: 1px solid $elements-color;
    border-radius: 30px;
    padding: 10px;
    color: $elements-color;
    background-color: transparent;
}

button:hover{
    background-color: $elements-color;
    color: black;
    cursor: pointer;
}

button:active{
    background-color: $main-color;
    color: black;
}

.hidden{
    display: none;
}

.not-visited{
    filter: grayscale(100%);
}